html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  text-transform: capitalize
}

section {
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: center;
  z-index: 10;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Target the autofill background */
input:-webkit-autofill {
  appearance: none;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  color: inherit !important;
}

/* global.css */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

/* For general inputs */
input,
textarea,
select {
  background-color: transparent;
  color: inherit;
}

@font-face {
  font-family: 'Blanka';
  src: url('/fonts/Blanka.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.blanka-font {
  font-family: 'Blanka', sans-serif;
}

.gradient-01 {
  background-image: linear-gradient(270deg,
      hsla(0, 0%, 100%, 0.632) 0%,
      hsla(210, 100%, 58%, 0.598) 26%,
      hsla(201, 100%, 63%, 0.354) 39%,
      hsla(203, 100%, 8%, 0.689) 50%);
  /* hsl(215, 49%, 21%) 61%,
      hsl(221, 69%, 42%) 74%,
      hsla(220, 100%, 41%, 0.986) 100%); */
  filter: blur(125px);
  transform: rotate(-114.2deg);
  position: absolute;
  width: 405px;
  height: 100vh;
  left: 30%;
  top: 10%;
  z-index: 0;
  opacity: 0.5;
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  background: rgba(39, 151, 255, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  background: #487ed0;
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  position: absolute;
  width: 604px;
  height: 100vh;
  left: 30%;
  top: 10%;
  z-index: 0;
  /* background: #6f93ff; */
  filter: blur(50px);
  border-radius: 50%;
  transform: rotate(-23.13deg);
  background-image: linear-gradient(270deg,
      hsla(295, 76%, 51%, 0.192) 0%,
      hsl(284deg 70% 73%) 26%,
      hsl(256, 29%, 15%) 39%,
      hsl(203, 57%, 9%) 50%,
      hsl(215, 49%, 21%) 61%,
      hsl(221, 69%, 42%) 74%,
      hsla(220, 100%, 41%, 0.986) 100%);
}

.outlined-text {
  color: white;
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}

a {
  color: white;
  text-decoration: none;
}

.embla {
  /* max-width: 48rem; */
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 65%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}