.carouselContainer {
  margin: 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
}

.cardWrapper {
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 100px */
}

.card {
  /* overflow: hidden; */
  min-height: 232px;
  height: 100%;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
  background-image: linear-gradient(45deg, #449DD130 0%, #9A48D030 100%);
   border: 1px solid #dec5e331;
  margin: 0 0px;
}


.cardBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.activeCard .cardBackdrop {
  opacity: 1;
}

.cardContent {
  position: relative;
  z-index: 2;
}

.slick-prev,
.slick-next {
  z-index: 100;
  color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button::before {
  color: #000;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}

.nextArrow svg,
.prevArrow svg {
  width: 24px;
  /* Adjust the size as needed */
  height: 24px;
  /* Adjust the size as needed */
}


@media (max-width: 992px) {
  .cardWrapper {
    margin: 4rem 10%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
  }

  .card {
    /* overflow: hidden; */
    max-height: 376px;
    height: 100%;
    /* min-width: 200px; */
    /* Set minimum width */
    width: 60vw;
    /* Set the width of the card */
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(45deg, #449DD130 0%, #9A48D030 100%);
    border: 1px solid #dec5e331;
    opacity: 0.5;
    margin: 0 0px;
    /* Add margin between cards */
  }
}

@media (max-width: 1200px) {
  .cardWrapper {
    margin: 4rem 0%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
  }

  .card {
    /* overflow: hidden; */
    max-height: 376px;
    height: 100%;
    /* min-width: 200px; */
    /* Set minimum width */
    width: 226px;
    /* Set the width of the card */
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(45deg, #449DD130 0%, #9A48D030 100%);
    border: 1px solid #dec5e331;
    opacity: 0.5;
    margin: 0 10%;
    /* Add margin between cards */
  }
}

@media (max-width: 600px) {
    .cardWrapper {
      margin: 4rem 0%;
     display: flex;
      justify-content: center;
      align-items: center;
      position: relative; 
    }

    .card {
      overflow: hidden;
      min-height: 400px;
      height: 100%;
      min-width: 200px;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      position: relative;
      z-index: 1;
      background-image: linear-gradient(45deg, #449DD130 0%, #9A48D030 100%);
      border: 1px solid #dec5e331;
      opacity: 0.5;
      /* padding-bottom: 10vh; */
      margin: 0 0px;
    }
  }

.fadeOut {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px; /* fade area */
  width: 100%;
  background: linear-gradient(to top, rgb(255, 255, 255), transparent);
  backdrop-filter: blur(50px);
  opacity: 0.5;
    /* filter: blur(125px); */
  
}

    